.cardlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
}
.card {
  width: 18rem;
  transform: scale(0.9);
  transition: 0.2s ease-in-out;
  padding: 10px;
}
.card:hover {
  transform: scale(1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .cardlist {
    max-width: 100%;
    justify-content: center;
  }
}
