.trello-wrapper {
  max-width: 87vw;
  max-height: 62vh;
  overflow-x: scroll;
  overflow-y: hidden;
}
.trello-wrapper input {
  padding: 5px 10px;
}
.LMBQi {
  padding-right: 20px;
}
.comPlainTextContentEditable:focus {
  padding: 2px 5px;
  outline: -webkit-focus-ring-color auto 2px;
}
