
.custom-theme .ag-row .ag-cell {
    display: flex; 
    align-items: center;
    font-family:Roboto,HelveticaNeue,Arial,sans-serif;
    font-size:14px;
  }
  .custom-theme .ag-header-cell-sortable {
    cursor: pointer;
    text-transform: capitalize;
    font-weight:bold;
    color:white;
    background-color:#407ae5;
    font-size:16px;
  }
  