.Toastify__toast .col-10 {
  padding-left: 0px;
}
.Toastify__toast .col-2 {
  padding-right: 10px;
}
.Toastify__close-button {
  color: black !important;
}

.Toastify__close-button:focus {
  outline: none;
}
.toast-success {
  border-left: 3px solid green;
}
.toast-error {
  border-left: 3px solid red;
}
.toast-info {
  border-left: 3px solid blue;
}
.toast-warning {
  border-left: 3px solid yellow;
}

@media (max-width: 768px) {
  .radio-group-type,
  .radio-group-direction {
    max-width: 300px;
    margin: auto;
  }
}
.Toastify__toast--success {
  background-color: #00c781;
}
.Toastify__toast--error {
  background-color: #ff4040;
}
.Toastify__toast--info {
  background-color: #00b8e6;
}
.Toastify__toast--warning {
  background-color: #ffaa15;
}
