.syntax-highlighter {
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  overflow: scroll;
}
.code-container {
  white-space: pre;
  font-size: 14px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: red;
}
h1 {
  text-align: center;
}
.linear-gradient {
  background: -webkit-linear-gradient(left, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}
p {
  margin-top: 30px;
  font-size: 20px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
